.activetest {
    scale: 0.9;
    background: var(--main-bg-color);
    transition: 0.3s;
    border-radius: 5px;
}

#leave-chlotes {
    cursor: pointer;
}

.displayellementactive {
    display: none;
}

.clhotescontenuopen {
    grid-column: 1 / 4;
}

.activecard {
    display: flex !important;
}