.container-chlotes-menu {
    animation-duration: var(--DurationAnimationOpenMenu);
    animation-name: var(--AnimationMenu);
}

@keyframes leftAnimation {
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0);
    }
}

                       
@keyframes opacityAnimation {                                                                                  
    0%{                                                                                      
        opacity: 0;                                                                                   
    }                                                                                             
    100%{                                                                                            
        opacity: 100%;                                                                             
    }                                                                                                  
}                                                                                                    
                                                                                                          
@keyframes ScaleAnimation {                                                                                     
    0%{                                                                                                    
        opacity: 0;                                                                                 
        scale: 0;                                                                                     
    }                                                                                      
    100%{                                                                                      
        opacity: 100%;                                                                              
        scale: 1;                                                                                
    }                                                                                        
}                                                                         
                                                                       

                                                                  