.container-item, .visible_create_tenu {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 10px;
    align-content: start;
    height: 58vh;
    overflow-y: auto;
}

.item-clotes {
    background: var(--main-bg-color);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    border-radius: 5px;
}


.item-clotes:hover {
    transform: scale(1.1);
    background: var(--main-bg-color);
}



.size-img-item {
    height: 80%;
    object-fit: cover;
    width: 80%;
}


.contenu-clhlotes {
    background: var(--main-bg-color);
}

.nav-chlotes {
    background: var(--header-bg-color);
}
