/* .part {
    background-color: rgba(0, 0, 0, 0.196);
} */

.container-base {
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    padding: 5%;
    justify-content: center;
}

.container-chlotes-menu {
    height: 85%;
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 9fr  0.6fr; 
    width: 100%;
}