* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: url('https://cdn.discordapp.com/attachments/1229026090882957364/1229086834051645591/image.png?ex=662e6750&is=661bf250&hm=f5456025b2334ea8c18bf77ecebd4c0e6a67ca8cd5e05a020e4b75a0beb7cfd1&') no-repeat center center fixed; */
    font-family: 'Roboto-Regular', sans-serif;
}
 

.container-chlotes {
    display: none; 
    /* display: none; */
    gap: 10px;
    grid-template-columns: 1.1fr 1fr 1fr;
    height: 100%;
    opacity: 100%;
    transition: 0.3s;
}


::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background-color: var(--scrollbar-thumb-bg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-track-bg-color);
    border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background:var(--scrollbar-thumb-bg-color);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(44, 44, 44, 0.338);
}