.emplacement-info-achat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_info_achat{
    background-color: rgba(25, 25, 25, 0.88);
    height: 20%;
    overflow-y: auto;
    padding: 4%;
    border-radius: 5px;
    width: 100%;
}

.container_info_achat h3{
    font-family: "Roboto-Regular";
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
}

.item_achat {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.price_and_delete {
    display: flex;
    gap: 10px;
}

.total_price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.separation {
    background-color: rgba(255, 255, 255, 0.236);
    height: 1%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.style_texte_info_price {
    font-family: "Roboto-Regular";
    color: white;
    text-decoration: none;
}

.price_item_achat {
    font-family: "Roboto-Regular";
    color: rgba(160, 255, 176, 1);
}

.btn_payment {
    all: unset;
    width: 20%;
    background-color: rgba(255, 93, 93, 1);
    font-family: "Roboto-Regular";
    padding: 1.5%;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: 0.1s;
    color: white;
}

.btn-achat {
    background-color: rgba(104, 177, 98, 1);
}

.btn_payment:hover {
    opacity: 70%;
}

.message-error {
    color: white;
    font-family: "Roboto-Regular";
    text-align: center;
}


.delete {
    color:rgb(220, 255, 210);
}